body{
  background-color: #f5f5f8;
}

/* headerについて */
header{
  background-color: white;
  height: 64px;
  width: 100%;
}
.header_wrapper{
  width: 94%;
  margin: 0 auto;
}
.header_left{
  float: left;
  display: flex;
  margin: auto 0;
  line-height: 64px;
}
.header_left p{
  color: #97b9d1;
  margin: auto 20px;
  font-size: 14px;
}
.header_left_logo{
  display: flex;
  align-items: center;
}
.header_left_logo img{
  height: 30px;
}
.header_right{
  float: right;
  line-height: 64px;
}
.button-open{
  position: relative;
  background: linear-gradient(to right, #0f71bc, #3ccfff);
  color: white;
  border-radius: 25px;
  padding: 10px 60px;
  box-shadow: 3px 3px 10px rgba(14, 195, 231, 0.834);
  font-size: 16px;
}

/* toppageについて */
.box{
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 8px #dedede;
}
.content{
  background-color: #ffffff;
  flex-basis: 33.3%;
  font-size: 20px;
  padding: 10px;
  box-shadow: 0 0 8px #dedede;
}
.top_container_top{
  width: 86%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.top_container_left{
  width: 50%;
  text-align: center;
}
.top_container_left_up{
  display: flex;
  justify-content: space-around;
  margin: 20px 10px 10px 0;
}
.top_container_left_down{
  height: 400px;
  margin: 0 10px 10px 0;
}
.inner_text{
  vertical-align: middle;
}
.first{
  margin: 0 10px 10px 0;
}
.second{
  margin: 0 10px 10px 10px;
}
.third{
  margin: 0 0 10px 10px;
}
.title{
  color: #0f71bc;
  font-weight: bold;
  font-size: 15px;
  padding-top: 10px;
}
.figure{
  font-size: 34px;
  font-weight: bold;
  padding: 18px 0 13px 0;
}
.hour{
  color: #97b9d1;
  font-size: 20px;
  padding-bottom: 10px;
}
.top_container_right{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.contents{
  position: relative;
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
  flex-basis: 50%;
  box-shadow: 0 0 8px #dedede;
}
h1, h2{
  position: absolute;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 35px;
}
.top_container_bottom{
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_container_bottom p{
  font-size: 14px;
  font-weight: bold;
  margin: 0 20px;
}
#button_back{
  border-bottom: solid 3px #0f71bc;
  border-left: solid 3px #0f71bc;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  border-radius: 2px;
}
#button_next{
  border-top: solid 3px #0f71bc;
  border-right: solid 3px #0f71bc;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  border-radius: 2px;
}

/* modalについて */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 650px;
  background-color: white;
  border-radius: 20px;
  z-index: 11;
}
.modalWrapper{
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.modalWrapper .modalClose{
  z-index: 20;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  color: #656565;
  /* text-align: center; */
  text-decoration: none;
  text-indent: 0;
}
.modalClose{
  text-align: center;
  line-height: 1;
  background-color: #f5f5f8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 30px;
}
.modal-upper{
  height: 50px;
  position: relative;
}
.btn-close {
  text-align: center;
  position: absolute;
  left: 830px;
  margin-top: 20px;
}
.btn-close span {
  color: gray;
  cursor: pointer;
  font-size: 32px;
  display: inline-block;
  background-color: #f5f5f8;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.modalContent{
  display: flex;
  height: 500px;
}

.modalLeft{
  flex-basis: 50%;
  margin-left: 56px;
  margin-right: 20px;
  height: 650px;
}
.checkbox{
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}
.click{
  border-radius: 50%;
}
.textInput{
  background: #f5f5f8;
  border-style: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.areaInput{
  background: #f5f5f8;
  border-style: none;
  width: 100%;
  height: 270px;
  border-radius: 10px;
}
.modalRight{
  flex-basis: 50%;
  margin-left: 20px;
  margin-right: 56px;
}
.modal_title{
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}
.submit{
  font-size: 20px;
  background: linear-gradient(to right, #2371bc, #40cdff);
  color: #f5fbfe;
  height: 50px;
  width: 400px;
  margin: 30px auto;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 8px #76C7EA;
}

.textbox{
  background-color: #f5f5f8;
  border-radius: 30px;
  height: 20px;
  width: auto;
  text-align: center;
  margin: 5px;
  padding-right: 10px;
  display: table;
}
.textbox:checked{
  background-color: #E7F5FF;
}
.textbox input[type="checkbox"]{
  display: none;
}
.textbox label{
  line-height: 35px;
}
.textbox input + label{
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 35px;
}

.textbox input + label::before{
  content: "";
  position: absolute;
  display: block;
  background-color: #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 10px;
  top: 22%;
}
.textbox input[type="checkbox"]+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 9px;
  height: 7px;
  margin-top: -6px;
  top: 53%;
  left: 16px;
  transform: rotate(-45deg);
  border-bottom: 2.4px solid;
  border-left: 2.4px solid;
  border-color: white;
  border-radius: 1.7px;
}
.textbox input[type="checkbox"]:checked{
  background-color: #e7f5ff;
}
.textbox input[type="checkbox"]:checked +label::before{
  background-color: #2371bd;
}
.textbox:checked{
  background-color: #E7F5FF;
}

/* .textbox2{
  background-color: #f5f5f8;
  border-radius: 30px;
  height: 20px;
  width: auto;
  text-align: center;
  margin: 5px;
  padding-right: 10px;
  display: table;
} */
.textbox2:checked{
  background-color: #E7F5FF;
}
.textbox2 input[type="checkbox"]{
  display: none;
}
.textbox2 label{
  line-height: 35px;
}
.textbox2 input + label{
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 35px;
}

.textbox2 input + label::before{
  content: "";
  position: absolute;
  display: block;
  background-color: #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 10px;
  top: 22%;
}
.textbox2 input[type="checkbox"]+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 9px;
  height: 7px;
  margin-top: -6px;
  top: 53%;
  left: 16px;
  transform: rotate(-45deg);
  border-bottom: 2.4px solid;
  border-left: 2.4px solid;
  border-color: white;
  border-radius: 1.7px;
}
.textbox2 input[type="checkbox"]:checked{
  background-color: #e7f5ff;
}
.textbox2 input[type="checkbox"]:checked +label::before{
  background-color: #2371bd;
}
.textbox2:checked{
  background-color: #E7F5FF;
}

.none{
  display: none;
}

.loading {
  text-align: center;
  font-size: 10px;
  margin: 300px 0;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loading:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.complete{
  margin: 100px 0;
  text-align: center;
  position: absolute;
  left: 50%;
}
.complete-part1, .complete-part2{
  color: #bde360;
}
.material-icons{
  font-size: 80px;
}

/*グラフについて*/
.contents{
  position: relative;
}
.chart{
  position: absolute;
  top: 80px;
}
/* .chart_box{
  text-align: center;
} */
.doughnut{
  width: 90%;
  margin: 0 auto;
}
.list li {
  color: #666;  
  margin-left: 20px;
  list-style-type: none;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  }
li:before {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  left: 0em;
  content: "";
  background: #000;
}
.element1::before{
  background: rgb(3, 69, 236);
}
.element2::before{
  background: rgb(15, 113, 189);
}
.element3::before{
  background: rgb(32, 189, 222);
}
.element4::before{
  background: rgb(60, 206, 254);
}
.element5::before{
  background: rgb(178, 158, 243);
}
.element6::before{
  background: rgb(109, 70, 236);
}
.element7::before{
  background: rgb(74, 23, 239);
}
.element8::before{
  background: rgb(49, 5, 192);
}
ul{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
#myDoughnutChart2{
  margin-bottom: 46px;
}

